# dependencies and outputs
node_modules
dist

# local configs and caches
.vscode
.turbo

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
*.pem
